@font-face {
    font-family: "solviegbold_italic";
    src: url("../fonts/SolveigBold-Italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "solviegbold";
    src: url("../fonts/SolveigBold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "solviegdemibold_italic";
    src: url("../fonts/SolveigDemiBold-Italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "solviegdemibold";
    src: url("../fonts/SolveigDemiBold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "solviegdisplay_italic";
    src: url("../fonts/SolveigDisplay-Italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "solviegdisplay";
    src: url("../fonts/SolveigDisplay-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "solviegtext_italic";
    src: url("../fonts/SolveigText-Italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "solviegtext";
    src: url("../fonts/SolveigText-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body.batten-gothic {
    background-color: #000000; /* #fffff5 */
    color: #fffff5; /* #282800 */
}

body.batten-gothic .navbar-light .navbar-toggler {
    border-color: #96c8fa; /* #8255eb */
}

body.batten-gothic .navbar-light .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 250, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

body.batten-gothic .text-dark,
body.batten-gothic .text-dark:focus,
body.batten-gothic .navbar-brand {
    color: rgb(255, 255, 245) !important;
}

body.batten-gothic .text-dark:hover,
body.batten-gothic .navbar-brand:hover {
    color: rgb(205, 205, 230) !important;
}

body.batten-gothic p {
    text-indent: 2rem;
    margin-bottom: 0rem;
}

body.batten-gothic p, body li, body.batten-gothic a.navbar-brand {
    font-size: 12pt;
    line-height: 1.4em;
}

body.batten-gothic p, body li {
    font-family: "solviegdemibold";
}

body.batten-gothic hr {
    border-top: 1px solid rgb(205, 205, 230);
}

body.batten-gothic hr.test {
    opacity: 0.5;
    border-top-color: #282814;
    box-shadow: 0px 0px 8px #646432;
}

body.batten-gothic a.navbar-brand {
    font-family: "solviegdemibold";
}

body.batten-gothic p.objective {
    font-family: "solviegdemibold_italic";
    text-align: center;
}

body li.meta {
    font-family: "solviegdemibold";
}

body.batten-gothic h1 {
    font-family: "solviegdemibold";
    text-align: center;
}

body.batten-gothic strong {
    font-family: "solviegdemibold";
}

div.solution-characters {
    text-align: center;
}

div.solution-character {
    background-color: #ffffff;
    border: 2px solid #002000;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-family: "solviegdemibold";
    margin: 4px;
    min-height: 0.5em;
    text-align: center;
    width: 1.5em;
}

div.solution-character.selected {
    border-color: #8255eb;
}

div.input-characters {
    text-align: center;
}

.punctuation {
    color: #ffffff;
}

div.input-character {
    background-color: #8255eb;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "solviegdemibold";
    margin: 4px;
    text-align: center;
    width: 1.5em;
}

div.input-character:hover {
    background-color: #5519e1;
}

div.image-container {
    text-align: center;
}

div.image-container img {
    max-width: 100%;
    margin: 1.5em 0;
}

.overlay-container {
    position: relative;
}

.overlay-container img.overlay {
    position: absolute;
    transform: translateX(-100%);
}

.section {
    position: relative;
}

.reveal {
    /*left: 50%;
    position: absolute;
    transform: translateX(-50%); */
}

.actions {
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.sections .actions {
    background-color: #000000;
    border: 2px solid #fffff5;
    border-radius: 8px;
    padding: 16px 32px;
    position: absolute;
}

.sections .actions:before {
    border-radius: 5px;
    content: " ";
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 8px;
    right: 8px;
    bottom: 3px;
    border: 2px solid #fffff5;
}

.sections .actions p.objective {
    color: #fffff5;
    opacity: 1;
}

.puzzles .actions {
    position: relative;
}

.section.active p {
    opacity: 1;
    text-shadow: 0 0 8px #000000;
}

.section.inactive p {
    color: #282814;
    opacity: 0.5;
    text-shadow: 0 0 8px #646432;
}

.section.last {
    margin-bottom: 4em;
}

.hidden-text {
    display: none;
}

.hidden-text.revealed {
    display: block;
    opacity: 0;
}

.hidden-text.revealed.visible {
    opacity: 1;
}

@media (min-width: 576px) {
    body.batten-gothic p, body li, body.batten-gothic a.navbar-brand {
        font-size: 12pt;
        line-height: 1.4em;
    }
}

@media (min-width: 768px) {
    body.batten-gothic p, body li, body.batten-gothic a.navbar-brand {
        font-size: 13pt;
        line-height: 1.4em;
    }
}

@media (min-width: 992px) {
    body.batten-gothic p, body li, body.batten-gothic a.navbar-brand {
        font-size: 13pt;
        line-height: 1.5em;
    }
}

@media (min-width: 1200px) {
    body.batten-gothic p, body li, body.batten-gothic a.navbar-brand {
        font-size: 14pt;
        line-height: 1.5em;
    }
}

.actions, .objects {
    text-align: center;
}

.objects button.object {
    font-family: "solviegbold_italic";
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: rgb(205, 205, 230);
    cursor: pointer;
    margin: 0.5em;
}

.objects button.object:hover {
    color: rgb(255, 255, 245);
}

.objects button.object:focus {
    outline: none;
}

.objects button.object.selected {
    background-color: rgb(205, 205, 230);
    color: #000000;
}

.objects button.object.selected:hover {
    background-color: #a5a59b; /* 165, 165, 155 */
}

.action {
    border: none;
    border-radius: 5px;
    font-family: "solviegbold_italic";
    margin: 0.5em;
    padding: 2px 10px;
}

.action:focus {
    outline: none;
}

.action.reveal {
    background-color: rgb(255, 255, 245);
    z-index: 1;
}

.action.reveal:hover {
    background-color: rgb(205, 205, 230);
}

.action.check {
    background-color: rgb(255, 255, 245);
}

.action.check:hover {
    background-color: rgb(205, 205, 230);
}

.action.skip {
    background-color: rgb(255, 255, 245);
    transition: transform 0.3s;

}

.action.skip:hover {
    background-color: rgb(205, 205, 230);
}

.action.skip.confirm-skip {
    transform: scaleY(-1);
    transition: transform 0.3s;
}

.puzzle-container {
    position: relative;
}

.puzzles {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 245);
    border-radius: 8px;
    padding: 16px 32px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 80%;
}

.puzzles:before {
    border-radius: 5px;
    content: " ";
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 8px;
    right: 8px;
    bottom: 3px;
    border: 2px solid rgb(255, 255, 245);
}

.sections {
    position: absolute;
    top: 0;
}

.close-puzzle {
    color: #ffffff;
    cursor: pointer;
    font-family: "solviegdemibold";
    position: fixed;
    right: 0.5em;
    text-align: center;
    top: 0;
    width: 1em;
}

.post-script {
    text-align: center;
    background-color: black;
    border: 1px solid #66757f;
    border-radius: 5px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding: 0.5em;
}

body.batten-gothic .post-script p {
    font-family: Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
    font-size: 16px;
    text-indent: 0;
}